Calling Agent.json
{
  "name": "Calling Agent",
  "nodes": [
    {
      "parameters": {
        "path": "webhook-call-trigger",
        "options": {}
      },
      "name": "Call Trigger (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -896,
        192
      ],
      "webhookId": "webhook-call-trigger",
      "id": "b52ea1d8-668c-4d75-b31a-80e8c4c3ed04"
    },
    {
      "parameters": {
        "url": "https://api.elevenlabs.io/v1/speech-to-speech/...",
        "options": {}
      },
      "name": "Speech-to-Text (ElevenLabs Scribe)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -720,
        192
      ],
      "id": "54c22c13-35bc-4141-9dce-a5af742d65f0"
    },
    {
      "parameters": {
        "model": "o4-mini-2025-04-16",
        "prompt": "You are an AI receptionist for a Hero Salon. The user said: '{{ $json.transcription }}'.\n\nDetermine the user's intent from the following options: BOOK_APPOINTMENT, CANCEL_APPOINTMENT, ASK_QUESTION.\nExtract the following entities if available: service, date, time, name.\n\nReturn a JSON object with the intent and entities. For example:\n{ \"intent\": \"BOOK_APPOINTMENT\", \"entities\": { \"service\": \"manicure\", \"date\": \"tomorrow\", \"time\": \"2pm\", \"name\": \"Jane\" } }",
        "options": {},
        "requestOptions": {}
      },
      "name": "AI Intent Recognition (OpenAI)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        -544,
        192
      ],
      "id": "a89ab19d-5cd7-4c61-af90-edba7b5fddf2",
      "credentials": {
        "openAiApi": {
          "id": "swreFHgCHvfVlTYr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -368,
        160
      ],
      "id": "8614b902-53a8-412d-b2fa-2ace11748c29"
    },
    {
      "parameters": {
        "calendar": "primary",
        "start": "={{ $json.entities.date }} {{ $json.entities.time }}",
        "end": "={{ $json.entities.date }} {{ $json.entities.time + ' + 1 hour' }}",
        "additionalFields": {}
      },
      "name": "Create Google Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "dc1e3e98-fbca-401f-b828-65b151bfa0df",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "vXrtldTP1Xx5BIs9",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/...",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Text-to-Speech (ElevenLabs)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        192,
        240
      ],
      "id": "e97e5347-6729-4fc4-9385-f94c5e11ff46",
      "credentials": {
        "httpHeaderAuth": {
          "id": "TdDUn1jCW2PqfZf8",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/YOUR_TWILIO_SID/Calls/{{ $json.call_sid }}.json",
        "authentication": "predefined",
        "options": {}
      },
      "name": "Send Voice Response (Twilio)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        384,
        240
      ],
      "id": "7add3824-6bfe-4998-8c35-f513526c037a"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.entities.date }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "name": "Date/Time Provided?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        32
      ],
      "id": "330ea3f6-e4eb-4cc7-8aa6-8872f7040d43"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Set 'Ask for Time' Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -64,
        208
      ],
      "id": "9bc7e9fc-e82c-4ecf-9552-3fa7f728dbab"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Set 'Confirmation' Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "5d3d7370-0af1-44c7-ad8a-7659b76a9a6d"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Set 'Answer Hours' Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -64,
        384
      ],
      "id": "acb614c5-ce7e-4937-bbaa-c0ab8056c83f"
    }
  ],
  "pinData": {},
  "connections": {
    "Call Trigger (Webhook)": {
      "main": [
        [
          {
            "node": "Speech-to-Text (ElevenLabs Scribe)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Speech-to-Text (ElevenLabs Scribe)": {
      "main": [
        [
          {
            "node": "AI Intent Recognition (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Intent Recognition (OpenAI)": {
      "main": [
        [
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Intent": {
      "main": [
        [
          {
            "node": "Date/Time Provided?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set 'Answer Hours' Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date/Time Provided?": {
      "main": [
        [
          {
            "node": "Create Google Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set 'Ask for Time' Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set 'Ask for Time' Response": {
      "main": [
        [
          {
            "node": "Text-to-Speech (ElevenLabs)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Calendar Event": {
      "main": [
        [
          {
            "node": "Set 'Confirmation' Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set 'Confirmation' Response": {
      "main": [
        [
          {
            "node": "Text-to-Speech (ElevenLabs)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set 'Answer Hours' Response": {
      "main": [
        [
          {
            "node": "Text-to-Speech (ElevenLabs)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text-to-Speech (ElevenLabs)": {
      "main": [
        [
          {
            "node": "Send Voice Response (Twilio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f12ff52a-5174-4273-8cff-94c80b5fa24b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9f9fe0441d9e9b16c1478de9145cf9a50ef70810e55cd9546576e9f014a47307"
  },
  "id": "m8qBCr3RH3jbOrdC",
  "tags": []
}